<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
rel="stylesheet" 
integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<link rel="stylesheet" href="/css/style.css">

</head>
<body>

   <!-- start navvar -->
   
   
          <nav class="navbar navbar-expand-lg nav-col navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-4 gradient-text" href="#"><i class="fa-solid fa-cart-shopping"></i>LE-LO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <th:block th:if="${user==null}">
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        </th:block>
         <th:block th:unless="${user==null}">
           <li class="nav-item" th:if="${user.role=='ROLE_ADMIN'}">
             <a class="nav-link active" aria-current="page" href="/admin/"><i class="fa-solid fa-house"></i>Home</a>
           </li>
           <li class="nav-item" th:if="${user.role=='ROLE_USER'}">
             <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i>Home</a>
           </li>
        </th:block>
        
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Products</a>
        </li>
        
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button">
    Category
  </a>
  <div class="dropdown-menu">
    <div class="dropdown-grid">
      <a th:each="c:${categorys}" th:href="@{'/products?category='+${c.name}}">[[${c.name}]]</a>
    </div>
  </div>
</li>
        
        
      
      </ul>
      
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
       <th:block th:if="${user==null}">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signin"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
        </li>
          <li class="nav-item mr-5">
          <a class="nav-link active" aria-current="page" href="/Register">Register</a>
        </li>
        <!--  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Admin</a>
        </li>  -->
        </th:block>
         <th:block th:if="${user!=null}">
          <th:block th:if="${user.role=='ROLE_USER'}">
         
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/cart"><i class="fa-solid fa-cart-shopping"></i>Cart[[${countCart}]]</a>
        </li>
       </th:block>
        
        <li class="nav-item dropdown user-dropdown">
  <a class="nav-link dropdow-toggle" href="#" role="button">
    <i class="fa-solid fa-user"></i> [[${user.name}]]
  </a>
  <div class="dropdown-menu">
    <a th:if="${user.role=='ROLE_USER'}" class="dropdown-item" href="/user/profile">Profile</a>
    <a th:if="${user.role=='ROLE_ADMIN'}" class="dropdown-item" href="/admin/profile">Profile</a>
    <a th:if="${user.role=='ROLE_USER'}" class="dropdown-item" href="/user/user-orders">My Orders</a>
    <a class="dropdown-item" href="/logout">Logout</a>
  </div>
</li>
        
         
        <!--  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
        </li> -->
        </th:block>
      </ul>
      
    </div>
  </div>
</nav>
     
   
   <!-- end navvar -->
     
    
     <div th:replace="${content}"></div>
     
    
     
     <!-- Start footer -->
     
     <div class="container-fluid p-2 mb-0 nav-down-col text-black" >
       
      <div class="container">
    <div class="row">
    <div class="col-md-2 mb-3">
        <h5 class="mt-6 logo-text fs-bold">LE-LO</h5>
        <!-- <p>We provide the best products at affordable prices.</p> -->
        <ul class="list-unstyled fs-5"style="margin-left: 20px;">
        <a href="#" class="facebook-text me-3"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="instagram-text me-3"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="twitter-text me-3"><i class="fa-brands fa-twitter"></i></a>
     
          </ul>
       
      </div>
      <div class="col-md-2 mb-3"style="margin-left: 180px;">
        <h5 class="fs-5">ABOUT</h5>
        <!-- <p>We provide the best products at affordable prices.</p> -->
        <ul class="list-unstyled"style="font-size: 12px; font-family: 'Orbitron', sans-serif;">
          <li class="text-hov"><a  class="text-white  text-decoration-none">CONTACT US</a></li>
          <li class="text-hov"><a  class="text-white text-decoration-none">ABOUT US</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">CORPORATE INFORMATION</a></li>
        </ul>
       
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="fs-5">HELP</h5>
        <ul class="list-unstyled "style="font-size: 12px; font-family: 'Orbitron', sans-serif;">
          <li class="text-hov"><a  class="text-white  text-decoration-none">PAYMENTS</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">SHIPPING</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">CANCELLATION & RETURNS</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="fs-5">CONSUMER POLICY</h5>
        <ul class="list-unstyled "style="font-size: 12px; font-family: 'Orbitron', sans-serif;">
          <li class="text-hov"><a  class="text-white  text-decoration-none">PRODUCTS</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">TERMS OF USE</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">PRIVACY</a></li>
          <li class="text-hov"><a  class="text-white  text-decoration-none">SECURITY</a></li>
        </ul>
      </div>
    
    </div>
    <hr class="border-light">
    <p class="text-center mb-0 text-white">© 2025 <span class="fw-bold fs-3 gradient-text">LE-LO</span>. All Rights Reserved.</p>
  </div>
      
     </div>
     
     <!-- End Footer -->
     
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
       integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
       crossorigin="anonymous"></script>
       
</body>
</html>