<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <section>
       
       <div class="container mt-5 p-5 bg-product">
        <div class="row">
         <div class="col-md-6 p-5">
           <img alt="" src="img/main_img/login.png" width="100%" height="400px">
         </div>
         
         <div class="col-md-6 mt-3 p-5">
          <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="card-header">
            <p class="fs-3 text-center fw-bold logo-text">Forget Password</p>
            
         <th:block th:if="${session.succMsg}">
             	<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
                 <span th:text="${@commonServiceImpl.removeSessionMessage()}"></span>
              </th:block>
              
              <th:block th:if="${session.errorMsg}">
             	<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                 <span th:text="${@commonServiceImpl.removeSessionMessage()}"></span>
              </th:block>
            
            
              <div class="card-body">
                <form action="/forget-password" method="post">
                  <div class="mb-3">
                   <label class="form-label">Email</label>
                   <input class="form-control" name="email" type="email" placeholder="Enter your email">
                  </div>
                  
                  <div class="text-center">
                  <button type="submit" class="btn  btn-primary  text-white text-center"style="border: 1px solid black;">Sent</button>
                  </div>
                  
                </form>
              </div>
              
              
            </div>
          </div>
          </div>
         </div>
       </div>
       
       
    </section>

</body>
</html>